<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.dao.VideoMapper">


    <select id="queryByReleaseTime" resultType="com.cn.po.VideoPO">
      select
      c.cate_name cateName,
      v.id,v.title videoTitle,v.cover_path cover,v.video_path path,v.upload_time uploadTime,v.brief description,
      u.head userPhoto
      from yx_category c
      right join yx_video v on c.id=v.category_id
      left join yx_user u on v.user_id=u.id
      order by v.upload_time desc
    </select>


    <select id="queryByLikeVideoName" resultType="com.cn.po.VideoPO">

        SELECT
	        c.cate_name cateName,
	        c.id categoryId,
	        v.id,
	        v.title videoTitle,
	        v.cover_path cover,
	        v.video_path path,
	        v.upload_time uploadTime,
	        v.brief description,
	        u.id userId,
	        u.username userName
        FROM
	        yx_category c
    RIGHT JOIN yx_video v ON c.id = v.category_id
    LEFT JOIN yx_user u ON v.user_id = u.id
    WHERE
	        v.title LIKE CONCAT(#{content})
    ORDER BY
	        v.upload_time DESC

    </select>



</mapper>